snippet comment "Add Comment" b
/*
${VISUAL}$1
*/
endsnippet

snippet s "Start with boilerplate code" b
#include <${1:stdio.h}>

int main(int argc, char *argv[])
{
        $0
        return 0;
}
endsnippet

