# TODO: Implement //
snippet comment "Comments" b
/*
${VISUAL}
*/
endsnippet

snippet testt "func for Table based testing" b
func Test${1:Foo} (t *testing.T) {
	cases := []struct {
		in   $2
		want $3
	}{
		{ ${4:in, want} },
	}

	for _, c := range cases {
		want := ${5:c.in}
		if want != ${6:c.want} {
			t.Errorf("Error: ${7:%d} gave ${8:%s}, want $8\n", $5, want, $6)
		}
	}
}
endsnippet
