snippet s "Start with boilerplate" b
#!/usr/bin/env python

def main():
    $0


if __name__ == '__main__':
    main()
endsnippet

snippet mlimp "ML imports" b
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
endsnippet

snippet ipython_s "Boilerplate for IPython" b
'''
%autoindent off
plt.ion()
plt.tight_layout()
plt.close('all')
'''
endsnippet
