snippet usage "Add usage check for BASH function" b
usage='${1:Function name}: ${2:Purpose of function}
USAGE: ${3:Usage syntax}'
if [[ $# -ne ${4:1} ]]${5: && [[ $# -ne ${6:2} ]]}; then
    echo "$usage"
    return 1
fi
endsnippet

snippet sb "Add SheBang for BASH" b
#!/usr/bin/env bash

$0
endsnippet
